                            /* plus-jakarta-sans-regular - latin */
                            
                            @font-face {
                                font-family: 'Plus Jakarta Sans';
                                font-style: normal;
                                font-weight: 400;
                                src: local(''), url('../fonts/plus-jakarta-sans-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                                url('../fonts/plus-jakarta-sans-v3-latin-regular.woff') format('woff');
                                /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
                            }
                            /* plus-jakarta-sans-500 - latin */
                            
                            @font-face {
                                font-family: 'Plus Jakarta Sans';
                                font-style: normal;
                                font-weight: 500;
                                src: local(''), url('../fonts/plus-jakarta-sans-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                                url('../fonts/plus-jakarta-sans-v3-latin-500.woff') format('woff');
                                /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
                            }
                            /* plus-jakarta-sans-600 - latin */
                            
                            @font-face {
                                font-family: 'Plus Jakarta Sans';
                                font-style: normal;
                                font-weight: 600;
                                src: local(''), url('../fonts/plus-jakarta-sans-v3-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                                url('../fonts/plus-jakarta-sans-v3-latin-600.woff') format('woff');
                                /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
                            }
                            /* plus-jakarta-sans-700 - latin */
                            
                            @font-face {
                                font-family: 'Plus Jakarta Sans';
                                font-style: normal;
                                font-weight: 700;
                                src: local(''), url('../fonts/plus-jakarta-sans-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                                url('../fonts/plus-jakarta-sans-v3-latin-700.woff') format('woff');
                                /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
                            }
                            /* VARIABLES */
                            
                             :root {
                                --main-title-color: #101010;
                                --main-text-color: #636F87;
                                --main-font-size-text: 18px;
                            }
                            
                            * {
                                box-sizing: border-box;
                            }
                            
                            body {
                                font-family: "Plus Jakarta Sans", sans-serif;
                                font-weight: 400;
                            }
                            /* CONTAINER */
                            
                            .container {
                                max-width: 1256px;
                                margin-right: auto;
                                margin-left: auto;
                                padding-right: 20px;
                                padding-left: 20px;
                            }
                            /********** Header style start **********/
                            
                            .site-header {
                                border-bottom: 1px solid #EEEEF4;
                                padding: 24px 0;
                                top: 0;
                                position: sticky;
                                background-color: #FFFFFF;
                            }
                            
                            .site-header__wrapper {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }
                            
                            .site-header__start {
                                display: flex;
                                align-items: center;
                            }
                            
                            .site-logo {
                                display: block;
                                margin-right: 50px;
                            }
                            
                            .site-nav__list {
                                margin: 0;
                                padding-left: 0;
                                list-style: none;
                                display: flex;
                            }
                            
                            .site-nav__item {
                                display: flex;
                                align-items: center;
                                margin-right: 30px;
                            }
                            
                            .site-nav__item-link {
                                display: inline-block;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 150%;
                                color: var(--main-title-color);
                                text-decoration: none;
                            }
                            
                            .site-header__phone {
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 120%;
                                text-align: center;
                                text-decoration: none;
                                color: #FFFFFF;
                                padding: 12px 24px;
                                background: #101010;
                                border-radius: 6px;
                            }
                            /********** Header style end **********/
                            /********** Main style start **********/
                            
                            .hero-section {
                                padding-top: 91px;
                                padding-bottom: 156px;
                            }
                            
                            .hero-section__wrapper {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                            
                            .hero-section-wrapper__start {
                                width: 550px;
                            }
                            
                            .hero-section__title {
                                margin-top: 0;
                                margin-bottom: 20px;
                                font-weight: 700;
                                font-size: 56px;
                                line-height: 140%;
                                color: var(--main-title-color);
                            }
                            
                            .hero-section__desc {
                                margin-top: 0;
                                margin-bottom: 40px;
                                font-size: 18px;
                                line-height: 150%;
                                width: 537px;
                                color: var(--main-text-color);
                            }
                            
                            .hero-section__link {
                                padding: 20px 40px;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 120%;
                                text-align: center;
                                text-decoration: none;
                                color: #FFFFFF;
                                background: #1AAB7B;
                                border-radius: 6px;
                            }
                            
                            .hero-section-end__vid {
                                width: 592px;
                                height: 334px;
                                border-radius: 6px;
                            }
                            /********** how can we help you style start **********/
                            
                            .how-can-we-section {
                                background-color: #F2F4F6;
                                padding: 50px 0;
                            }
                            
                            .how-can-we__title {
                                font-weight: 600;
                                font-size: 36px;
                                line-height: 140%;
                                text-align: center;
                                color: var(--main-title-color);
                                text-align: center;
                                margin-bottom: 40px;
                            }
                            
                            .how-can-we-list {
                                display: flex;
                                flex-wrap: wrap;
                                padding-left: 0;
                                list-style: none;
                            }
                            
                            .how-can-we-item {
                                border: 2px solid #E1E7ED;
                                border-radius: 6px;
                                margin-right: 32px;
                                margin-bottom: 32px;
                                padding: 30px 30px 40px 30px;
                                background: #F2F4F6;
                                width: 384px;
                            }
                            
                            .how-can-we-item:nth-child(3) {
                                margin-right: 0;
                            }
                            
                            .item-header-box {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 11px;
                            }
                            
                            .item-header-box__title {
                                font-weight: 600;
                                font-size: 32px;
                                line-height: 140%;
                                color: var(--main-title-color);
                                margin: 0;
                            }
                            
                            .item-header-box__boximg {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                background: #E1E7ED;
                                width: 64px;
                                height: 64px;
                            }
                            
                            .how-can-we__text {
                                font-size: 18px;
                                line-height: 150%;
                                color: var(--main-text-color);
                                margin-top: 0;
                                margin-bottom: 23px;
                            }
                            
                            .margin {
                                margin-bottom: 50px;
                            }
                            
                            .marginss {
                                margin-bottom: 70px;
                            }
                            
                            .how-can-we__link {
                                font-weight: 700;
                                font-size: 20px;
                                line-height: 140%;
                                text-decoration: none;
                                color: var(--main-title-color);
                            }
                            /********** how can we help you style end **********/
                            /********** how do we work style start **********/
                            
                            .how-do-we-work-section {
                                background-color: #FFFFFF;
                                padding-top: 100px;
                                padding-bottom: 200px;
                            }
                            
                            .how-do-we-work__box {
                                width: 100%;
                                max-width: 650px;
                                text-align: center;
                                margin: 0 auto
                            }
                            
                            .how-do-we-work__title {
                                font-weight: 600;
                                font-size: 36px;
                                line-height: 140%;
                                text-align: center;
                                color: var(--main-title-color);
                                margin-top: 0;
                                margin-bottom: 16px;
                            }
                            
                            .how-do-we-work__text {
                                font-size: var(--main-font-size-text);
                                line-height: 150%;
                                text-align: center;
                                color: var(--main-text-color);
                                margin-bottom: 90px;
                            }
                            
                            .how-do-we-work__list {
                                padding-left: 0;
                            }
                            
                            .how-do-we-work__item {
                                display: flex;
                            }
                            
                            .how-do-we-work__item:nth-child(2) {
                                display: flex;
                                justify-content: flex-end;
                                margin-top: 100px;
                                margin-bottom: 94px;
                                margin-right: 32px;
                            }
                            
                            .how-do-we-work__item-innerbox {
                                width: 488px;
                                margin-left: 32px;
                            }
                            
                            .how-do-we-work__item-innerbox-title {
                                font-weight: 700;
                                font-size: 40px;
                                line-height: 140%;
                                color: var(--main-title-color);
                                margin-top: 26px;
                                margin-bottom: 20px;
                            }
                            
                            .how-do-we-work__item-innerbox-text {
                                font-size: 18px;
                                line-height: 150%;
                                color: var(--main-text-color);
                            }
                            /********** how do we work style  end **********/
                            /********** Main style end **********/